<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <div style="text-align: center;">
          <h2><strong>About Me:</strong></h2>
          <p>I'm a passionate developer with a keen interest in technology. From crafting small programs to exploring cutting-edge projects, I thrive on challenges.<br><br>
            My journey began in childhood, fueled by my fascination with computers introduced by my brother. As an avid gamer and photographer, I've honed my skills by completing college projects, assisting friends, and embracing hands-on experimentation.</p>
        </div>
      </div>
    
      <div class="col-lg-4">
        <div style="text-align: center;">
          <h2><strong>My Tech Journey:</strong></h2>
          <ul style="list-style-type: disc; text-align: left;">
            <li>Samsung GT-S102 (GingerIceJelly Mod)</li>
            <li>Compaq CQ40 (Linux enthusiast for a decade)</li>
            <li>Acer Nitro 5 (my current Windows 11 powerhouse)</li>
            <li>Redmi Note 10S (my mobile companion)</li>
            <li>Canon Powershot sx210 IS (modified with CHDK)</li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <br>
    <p style="text-align: center;">Let's connect if you share my enthusiasm for innovation!</p>
  </div>
</section>
